/*===STYLE====*/

/*===NAV====*/
.navbar-inverse .navbar-nav > li > a
{
    font-size: 1.15em;
}
.navbar-brand
{
    font-size: 30px;
}

/*===CONTENT====*/
.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

/*===H====*/
.h3, h3 {
    font-size: 1.3em;
}

/*===IMG====*/
p img
{
    width: 45%;
    vertical-align: text-top;
    float: left;
    margin: 0 15px 15px 0;
}
p img:hover
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.homeImg
{
    width: 40%;
}

.imgPage
{
    height: 80%;
    margin: 15px 15px 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.imgPage:hover
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.imgProduct
{
    height : 10vh;
    width: auto;
    margin: 15px 15px 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.imgProduct:hover
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.col-md-1
{
    width: auto;
}

/*====TABLE====*/
table
{
    border-collapse: collapse;
}

table .btn
{
    font-size: 0.77em;
    Font-Weight: bold;
}

/*====BUTTON====*/

.resBtn
{
    vertical-align: bottom;
}

/*====PANNEL====*/

.panel-info {
    border-color: #f5b7b1;
    height: 60vh;
}

.panel-info > .panel-heading
{
    background-color: #943226;
    border-color: #ec7063;
    height: 30%;
}

.panel-info > .panel-body
{
    background-color: #f4efef;
    border-color: #ec7063;
    height: 70%;
}
.panel-info a
{
    color: #eee5e5;
}

.panel-info a:hover, a:focus, a:active
{
    color: #9d9d9d;
    text-decoration: none;
}

/*====HR====*/
hr
{
    border-color: #eee currentcolor currentcolor;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 10px 0;
}

/*====MODAL====*/
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/*====SHOW MORE====*/
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}


/*====HOME====*/
.home-article{
    margin-bottom: 30px;
}


